<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Penalty Card Prediction</title>
  <meta name="description" content="Penalty Card Prediction">
  <meta name="author" content="Danius">

  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='pred.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}">
  </script>
  <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.css') }}">

</head>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Penalty Card Prediction</a>
    </div>

    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/'>Card Predictions</a></li>
        <li><a href='/league_stats'>League Stats</a></li>
        <li><a href='/author'>Author</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container theme-showcase">
 <div class="page-header">
  <h2 class="cover-heading">
   About Danius Silkaitis
 </h2>
 </div>
 <div class="page-header">
    <div class="row">
     <div class="col-md-6">

      <div class="panel panel-success">
       <div class="panel-heading">
        <h3 class="panel-title">
         Summary
        </h3>
       </div>
       <div class="panel-body">
        <p>
          I've spent the last three months honing my
            data science skills at Galvanize. We studied
            the tools, techniques and concepts needed to be
            an effective data scientist. Some subjects covered include
            A/B testing to machine learning to cross validation.
            A variety technologies were used to dig into each subject
            from Python to SQL to Spark. We also
            practiced the full data science stack from data munging
            to exploration, modeling, validation, visualization,
            and communication. The program further improved my analytical
            foundation which is built on a Bachelor's and Master's
            in Mechanical Engineering and 10 years experience.
        </p>
        <p>
          Prior to joining Galvanize, I developed
            products in the medical device and consumer product industries.
            A common thread throughout my experience was being the experimental
            design, data analysis and root cause investigation expert for
            my teams and organization. I have either personally delivered
            or led teams through the entire issue resolution process
            from problem definition to experimentation to solution
            implementation. I have regularly mentored my peers on
            statistics, hypothesis testing and design of experiments while
            guiding them through design issues.  I have also worked
            with diverse teams that comprised of technical
            and non-technical members requiring a tailored
            approach to communicating experiment results.
        </p>
        <p>
          In my previous career, I enjoyed the opportunity to tackle
            difficult problems that required rigorous experimentation
            and analysis.  It was rewarding to build hypotheses and challenge
            them till the true system behavior revealed itself. Additionally,
            it’s exciting to learn how to manipulate a system to
            achieve business goals. Often, data was expensive collect
            making experimentation / investigation phases in very short.
            I'm excited to be a Data Scientist and focus on my strength
            and passion of experimentation, data and analysis. It is inspiring
            to read of the accomplishments of data scientists that
            were previously impossible. It is clear that the data science
            community is focused on growing and sharing knowledge.
        </p>
       </div>
      </div>
     </div>

     <div class="col-md-6">

      <div class="panel panel-info">
       <div class="panel-heading">
        <h3 class="panel-title">
         Contact
        </h3>
       </div>
       <div class="panel-body">
         <table class='table'>
           <tbody>
             <tr class='text-center'>
               <td>
                 <a href="https://www.linkedin.com/in/daniussilkaitis">
                   <img src='../static/Logo-2C-34px-R.png'></img>
                 </a>
               </td>
             </tr>
             <tr class='text-center'>
               <td>
                 <a href="https://github.com/silkaitis">
                   <img src='../static/GitHub_Logo.png' width='150'></img>
                 </a>
               </td>
             </tr>
             <tr class='text-center'>
               <td>
                 <a href='mailto:danius.silkaitis.com' class='btn btn-info'>
                   Email
                 </a>
               </td>
             </tr>
           </tbody>
         </table>

       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
