<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Penalty Card Prediction</title>
  <meta name="description" content="Penalty Card Prediction">
  <meta name="author" content="Danius">

  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='pred.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}">
  </script>
  <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.css') }}">

</head>

<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Penalty Card Prediction</a>
    </div>

    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/'>Card Predictions</a></li>
        <li><a href='/league_stats'>League Stats</a></li>
        <li><a href='/author'>Author</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class='container theme-showcase' role='main'>
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <h3 class='panel-title'>App Summary</h3>
    </div>
    <div class='panel-body'>
      <p class='lead'>
        This app predicts the number of yellow and
          red cards in a match based upon the referee,
          home and away team. The app was built for the
          current 2016 / 2017 English Premier League
          season.
      </p>
    </div>
  </div>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Match-up</h3>
    </div>
    <div class='panel-body'>
      <table class='table'>
        <tbody>
          <tr class='text-center'>
            <td>
              <select id='home_teams' name='home_teams'>
                <option value='choose_one'>Choose Home Team</option>
                <option value="9">Arsenal</option>
                <option value="756">Bournemouth</option>
                <option value="28">Burnley</option>
                <option value="44">Chelsea</option>
                <option value="38">Crystal Palace</option>
                <option value="20">Everton</option>
                <option value="22">Hull City</option>
                <option value="31">Leicester City</option>
                <option value="6">Liverpool</option>
                <option value="18">Manchester City</option>
                <option value="17">Manchester United</option>
                <option value="33">Middlesbrough</option>
                <option value="41">Southampton</option>
                <option value="14">Stoke City</option>
                <option value="7">Sunderland</option>
                <option value="19">Swansea City</option>
                <option value="21">Tottenham Hotspur</option>
                <option value="29">Watford</option>
                <option value="16">West Bromwich Albion</option>
                <option value="43">West Ham United</option>
              </select>
            </td>
            <td>
              <select id='away_teams' name='away_teams'>
                <option value='choose_one'>Choose Away Team</option>
                <option value="9">Arsenal</option>
                <option value="756">Bournemouth</option>
                <option value="28">Burnley</option>
                <option value="44">Chelsea</option>
                <option value="38">Crystal Palace</option>
                <option value="20">Everton</option>
                <option value="22">Hull City</option>
                <option value="31">Leicester City</option>
                <option value="6">Liverpool</option>
                <option value="18">Manchester City</option>
                <option value="17">Manchester United</option>
                <option value="33">Middlesbrough</option>
                <option value="41">Southampton</option>
                <option value="14">Stoke City</option>
                <option value="7">Sunderland</option>
                <option value="19">Swansea City</option>
                <option value="21">Tottenham Hotspur</option>
                <option value="29">Watford</option>
                <option value="16">West Bromwich Albion</option>
                <option value="43">West Ham United</option>
              </select>
            </td>
          </tr>
          <tr><td></td></tr>
          <tr class='text-center'>
            <td colspan=2>
              <select id='referee' name='referee'>
                <option value='choose_one'>Choose Referee</option>
                <option value="131">Andre Marriner</option>
                <option value="141">Anthony Taylor</option>
                <option value="147">Craig Pawson</option>
                <option value="148">Graham Scott</option>
                <option value="143">Jonathan Moss</option>
                <option value="140">Kevin Friend</option>
                <option value="134">Lee Mason</option>
                <option value="129">Mark Clattenburg</option>
                <option value="130">Martin Atkinson</option>
                <option value="142">Michael Oliver</option>
                <option value="111">Mike Dean</option>
                <option value="138">Mike Jones</option>
                <option value="144">Neil Swarbrick</option>
                <option value="149">Paul Tierney</option>
                <option value="146">Robert Madley</option>
                <option value="145">Roger East</option>
                <option value="139">Stuart Attwell</option>
              </select>
            </td>
          </tr>
          <tr><td></td></tr>
          <tr class='text-center'>
            <td colspan=2>
                <button type="button" id="predict" class="btn-primary">Predict!</button>
            </td>
        </tbody>
      </table>
    </div>
  </div>

  <div class='panel panel-success'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Card Predictions</h3>
    </div>
    <div class='panel-body'>
      <table class='table'>
        <thead>
          <tr>
            <th class='text-center'>Referee</th>
            <th class='text-center'>Home</th>
            <th class='text-center'>Away</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class='text-center col-md-4'><span id='referee'></span></td>
            <td class='text-center col-md-4'><span id='hometeam'></span></td>
            <td class='text-center col-md-4'><span id='awayteam'></span></td>
          </tr>
          <tr class='warning'>
            <td class='text-center col-md-4'>Yellow Card</td>
            <td class='text-center col-md-4'><span id="home_yellow"></span></td>
            <td class='text-center col-md-4'><span id="away_yellow"></span></td>
          </tr>
          <tr class='danger'>
            <td class='text-center col-md-4'>Red Card</td>
            <td class='text-center col-md-4'><span id="home_red"></span></td>
            <td class='text-center col-md-4'><span id="away_red"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
