<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Penalty Card Prediction</title>
  <meta name="description" content="Penalty Card Prediction">
  <meta name="author" content="Danius">

  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='stats.js') }}">
  </script>
</head>

<body>

  <h1>League Statistics</h1>
  <p>
    <select id='x_axis' name='x_axis'>
      <option value='corners'>corners</option>
      <option value='fouls'>fouls</option>
      <option value='goals'>goals</option>
    </select>
    <select id='y_axis' name='y_axis'>
      <option value='corners'>corners</option>
      <option value='fouls'>fouls</option>
      <option value='goals'>goals</option>
    </select>
    <button type="button" id="generate" class="btn-primary">Generate</button>
  </p>
  <p>
    <img id='graph'>
  </p>
  <p>
    <a href='/predictions'>Card Predictions</a>
    <a href='/'>Home</a>
  </p>

</body>
</html>
