<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Penalty Card Prediction</title>
  <meta name="description" content="Penalty Card Prediction">
  <meta name="author" content="Danius">
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='stats.js') }}">
  </script>
</head>

<body>

  <h1>League Statistics</h1>
  <p>
    <select id='x_axis' name='x_axis'>
      <option value='1'>1</option>
      <option value='1'>2</option>
      <option value='1'>3</option>
    </select>
    <select id='y_axis' name='y_axis'>
      <option value='1'>1</option>
      <option value='1'>2</option>
      <option value='1'>3</option>
    </select>
    <div class="form-group">
          <button type="button" id="generate" class="btn-primary">Generate</button>
    </div>
  </p>
  <p>
    <img id='graph'>
  </p>
  <p>
    <a href='/predictions'>Card Predictions</a>
    <a href='/'>Home</a>
  </p>

</body>
</html>
